/* NAVBAR */

#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 80px;
    overflow: hidden;
}

/* LESSON */

#lessons .items{
    flex-direction: column;
}

#lessons .items .item{
    width: 100%;
}

/* ABOUT */

#about .works{
    flex-direction: column;
}

#about .works .work{
    width: 100%;
}

#about .works .work:nth-child(3) img{
    margin-bottom: 0;
}
